echo '~/.aliases'

# enable color support of ls and also add handy aliases
if [ -x /usr/bin/dircolors ]; then
    test -r ~/.dircolors && eval "$(dircolors -b ~/.dircolors)" || eval "$(dircolors -b)"
    alias ls='ls --color=always --show-control-chars'
    alias dir='vdir --color=always'

    alias grep='grep --color=always'
    alias fgrep='fgrep --color=always'
    alias egrep='egrep --color=always'
fi

# some more ls aliases
alias ll='ls -alF'
alias la='ls -A'
alias l='ls -CF'

# Add an "alert" alias for long running commands.  Use like so:
#   sleep 10; alert
alias alert='notify-send --urgency=low -i "$([ $? = 0 ] && echo terminal || echo error)" "$(history|tail -n1|sed -e '\''s/^\s*[0-9]\+\s*//;s/[;&|]\s*alert$//'\'')"'

# For Mozc
alias mozc-config="/usr/lib/mozc/mozc_tool -mode=config_dialog"
alias mozc-dict="/usr/lib/mozc/mozc_tool --mode=dictionary_tool"

# Aliases for git
alias gad="git add"
alias gap='git add -p'
alias gau='git add -u'
alias gbr='git branch'
alias gci='git commit'
alias gcim='git commit -m'
alias gco="git checkout"
alias gdf="git diff"
alias glg="git log"
alias gmr="git merge"
alias gps='git push --set-upstream origin $(current_branch)'
alias greset="git reset --hard HEAD^"
alias gst="git status"

# alias
alias mew="/usr/local/bin/emacs -e mew &"
alias todo="/usr/local/bin/emacs -nw ~/Dropbox/Todo/todo.txt"
alias note="/usr/local/bin/emacs -nw ~/Dropbox/Note/index.org"
alias memo=note

alias td="todo.sh"
alias tdls="todo.sh ls"
alias tdlsa="todo.sh ls '(A)'"
alias tda="todo.sh add"
alias tddo="todo.sh do"

alias firefox="firefox >& /dev/null &"

alias pdfviewer='evince'
alias imageviewer='eog'

# # Aliases for Ruby
# # see: http://ryan.mcgeary.org/2011/02/09/vendor-everything-still-applies/
alias b="bundle"
alias bi="b install --path=vendor/bundle --binstubs=vendor/bin"
alias binit="bi && b package --all && echo 'vendor/bundle' >> .gitignore"
alias bil="bi --local"
alias bu="b update"

# creating a new app.
function rails_new() {
    if [ $# -ne 1 ]; then
	echo "railsアプリケーションの名前を指定してください."
	return 1
    fi
    echo "railsアプリケーション $1 を生成します．"
    rails new $1 --skip-bundle --skip-test-unit # --edge
}

alias firefox="firefox >& /dev/null"

alias zshrc='. ~/.zshrc'
alias vizshrc='vi ~/.zshrc'
alias vizsh=vizshrc

function google() {
  local str opt 
  if [ $# != 0 ]; then # 引数が存在すれば
    for i in $*; do
      str="$str+$i"
    done    
    str=`echo $str | sed 's/^\+//'` #先頭の「+」を削除
    opt='search?num=50&hl=en&ie=utf-8&oe=utf-8&lr=lang_en'
    opt="${opt}&q=${str}"
  fi
  firefox http://www.google.co.jp/$opt #引数がなければ $opt は空になる
  # mozilla -remote openURL\(http::/www.google.co.jp/$opt\) # 未テスト
}
alias ggl=google

function rm() {
  if [ -d ~/.trash ]; then
    local DATE=`date "+%y%m%d-%H%M%S"`
    mkdir ~/.trash/$DATE
    for i in $@; do
      # 対象が ~/.trash/ 以下なファイルならば /bin/rm を呼び出したいな
      if [ -e $i ]; then
        mv $i ~/.trash/$DATE/
      else 
        echo "$i : not found"
      fi
    done
  else
    /bin/rm $@
  fi
}
